/* Global Styles */

.glitch {
	/* font-size: 20px; */
	color: black;
	animation: glitch 1.8s infinite;
	/* text-shadow:
		0 0 5px #ff0000,
		0 0 10px #186f14 */
}
@keyframes glitch {
	0%{
		opacity: 1;
		text-shadow:
			0 0 5px #00ff3c,
			0 0 10px #186f14;
			transform: translateY(0) scaleY(1) skewY(0deg);
	}
	25% { 
		opacity: 0.7;
		text-shadow:
			0 0 7px #ff00c8,
			0 0 12px #6f186f;
			transform: translateY(-2px) scaleY(1.05) skewY(-1deg);
	}
	50% { 
		opacity: 0.6;
		text-shadow:
			0 0 10px #ff00c8,
			0 0 15px #6f186f;
			transform: translateY(1px) scaleY(1.6) skewY(0deg);
	}
	75% {
		opacity: 0.8;
		text-shadow:
			0 0 7px #00d8ff,
			0 0 12px #146f6f;
			transform: translateY(-2px) scaleY(1.05) skewY(-1deg);
	}
	100% {
		opacity: 1;
		text-shadow:
			0 0 5px #00ff3c,
			0 0 10px #186f14;
			transform: translateY(0) scaleY(1) skewY(0deg);
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Arial', sans-serif;
	background-color: #f8f9fa;
	color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

/* Container */
div {
	background-color: #fff;
	padding: 25px;
	border-radius: 8px;
	border: 1px solid #ddd;
	text-align: center;
	max-width: 400px;
	width: 100%;
}

/* Heading */
h1 {
	font-size: 24px;
	color: #333;
	margin-bottom: 15px;
}

/* Question Text */
p {
	font-size: 18px;
	margin-bottom: 20px;
	color: #555;
}


/* Button Group */
div>div {
	margin-bottom: 20px;
}

/* Buttons */
button {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	margin: 8px;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.2s ease;
}

button.correct:disabled {
	background-color: #28a745;
}

button:hover {
	background-color: #0056b3;
	transform: translateY(-2px);
}

button:active {
	background-color: #003f8a;
	transform: translateY(0);
}

button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

/* Responsive Design */
@media (max-width: 500px) {
	div {
		padding: 20px;
	}

	button {
		padding: 10px;
		margin: 5px;
		width: 100%;
	}
}